.game-view {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.game-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 1px solid black;
  width: 400px;
  height: 400px;
}

.game-grid-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: calc(100% / 9);
  text-align: center;
  border: 1px solid gray;
  box-sizing: border-box;
}

.game-inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.game-input {
  display: block;
  width: 75px;
  height: 75px;
  font-size: 56px;
  border-radius: 50%;
  border: 1px solid black;
  text-align: center;
}

.game-input.undo {
  font-family: Verdana, sans-serif;
  vertical-align: top;
}